@model IEnumerable<ruiya.Models.ruiya.RuiyaNews>
@{
    ViewBag.Title = "GetData";
}

<h2>GetData</h2>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.index)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.content)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.intro)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.createTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.creator)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.index)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.content)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.intro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.createTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.creator)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
            </td>
        </tr>
    }

</table>

